.gallery{
  display:grid;
  grid-template-columns:1fr 1fr 1fr 1fr;
  grid-column-gap:1em;
}
.thumbnail a img{
  width:100%;
  padding:15px;
  position:relative;
}
.thumbnail h4{
  color:#333;
}
.thumbnail{
  float:right;
  width:95%;
  margin:auto;
  margin-bottom:1em;
  border-bottom:2px solid #34495e;
}
.text_column{
  padding:15px;
  font-size:15px;
  color:#777;
}
.tag{
  padding-left:8px;
}
@media screen and (max-width:768px){
  .gallery{
    display:grid;
    grid-template-columns:1fr;
    grid-column-gap:1em;
  }
}
